:root{
    --color-primary: #ECC313;
    --color-background: #333232;
    --color-background-dark: #222121;
    --color-background-yellow: #77725D;
    --color-background-footer: #292928;
    --color-bkg-copy: #181817;
    --color-font: #D3D2D2;
    --color-grey-1: #93918B;

    --default-font-size:1.4rem;
    --font-size-small:1.2rem;

    --zindex_nav:200;
    --zindex_mobileNav:400;
    --zindex_backdrop:300;
    --zindex_navBackground:400;
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-font);
    background-color: var(--color-background);
    min-height: 100vh;
}

main{
    max-width: 1920px;
    margin: 0 auto;
}