node_modules
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
SVG
# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz
# dotenv environment variables file
.env

# gatsby files
.cache/
public

# Mac files
.DS_Store

# archivos boundles webpack
dist

# Logs
logs
*.log
npm-debug.log*