.content--intro{
    padding:0;
}
.intro{
    width: 100%;
    margin: 0 auto;
    background-color: #676660;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 1rem 2rem 6rem rgba(0,0,0,0.5);
    transform: translateY(-3rem);

    & p{
        color: white;
    }

    @include respond(tab-port) {
        width: 70%;
    }
}

.cv{
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond(tab-port) {
        flex-direction: row;
        justify-content: space-around;
    }

    &__main {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(tab-port) {
            margin-right: 4rem;
        }
    }

    &__jobs{
        margin: 2rem 0;
        padding: 2rem;
        background-color: var(--color-background-dark);
        border-radius: 1rem;
        box-shadow: 1rem 2rem 6rem rgba(0,0,0,0.5);

        
    }

    &__education{
        margin-top: 2rem;
        background-color: cyan;
    }

    &__extras{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;

        @include respond(tab-port) {
            margin-top: 0;
        }
    }
}