.about-me{
    transform: translateY(-12rem);

    &__image-box{
        background-color: var(--color-primary);
        max-width: 400px;
    }


    &__image{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    &__info{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        @include respond(phone-xl) {
            flex-direction: row;
            padding-top: 8rem;
        }
    }

    &__contact{
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(phone-xl) {
            padding-left: 1rem;
            margin: 0;
        }
    }

    &__social{
        margin: 2rem 0;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__icon{
        width: 3.5rem;
        height: 3.5rem;
    }

    &__name{
        font-size: 2.4rem;
        font-weight: bold;
        text-align: center;
    }

    &__links{
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__intro{
        margin-top: 6rem;

        @include respond(phone-xl) {
            margin-top: 8rem;
        }
    }

    &__content-box{
        width: 50%;
    }

    &__content-body{
        margin-top: 1rem;
    }

    &__social{
        margin-top: 2.5rem;
    }
}