.extra{
    background-color: #5B5A56 ;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    max-width: 60rem;

    margin: 2rem 0;

    &__icon-box{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }

    &__icon{
        width: 20rem;
        height: auto;
    }

    &__list {
        list-style: none;
        padding-left: 1.3rem;
    }

    &__item{
        font-size: 1.2rem;
    }

    &__item::before{
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: var(--color-primary); /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1.2em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
}