.institution{
    margin: 1rem 0;
    max-width: 60rem;

    &__name{
        font-size:1.8rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        color: var(--color-primary);
    }

    &__speciality{
        font-size: 1.2rem;
        color: white;
    }

    &__duration{
        color: var(--color-grey-1)
    }

    &__tesis{
        margin: 1rem 0;
        text-align: justify;
        font-style: italic;
        font-size: 1.3rem;

        & span{
            font-weight: 700;
        }
    }
}