.job{
    margin: 1rem 0;
    max-width: 60rem;
    margin: 1.5rem 0;
    padding-top: 2rem;

    &:not(:last-child){
        border-bottom: 1px dotted white;
    }

    &__title{
        font-size:1.8rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        color: var(--color-primary);
    }

    &__company{
        font-size: 1.2rem;
        color: white;
    }

    &__duration{
        color: var(--color-grey-1)
    }

    &__description{
        margin: 1rem 0;
        text-align: justify;
        font-size: 1.3rem;
    }
}