.job{
    margin: 1rem 0;

    &__title{
        font-size:2rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        color: var(--color-primary);
    }

    &__company{
        font-size: 1.2rem;
        color: white;
    }

    &__duration{
        color: var(--color-grey-1)
    }

    &__description{
        margin: 1rem 0;
        text-align: justify;
    }
}