.header{
    height: 60vh;
    background-image: url("/static/heroBkgimg.jpg");
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2rem 6rem rgba(0,0,0, 0.3);
    transition:  0.3s ease-in-out;

    &__box{
        flex:0 0 70%;
        margin-left: 10%;
    }

    &__title{
        text-transform: uppercase;
        font-size: 5.5rem;
        color:white;
        font-weight: 300;
        letter-spacing: 4px;
    }
  

    &__slogan{
        font-size: 1.6rem;
        color: #807E7E;
        width: 75%;
        & span{
            color: #9F9595;
        }
    }
}

.nav-scrolled {
    background-color: rgba(0, 0, 0, 0.95);
    height: 70px;
    box-shadow: 0px 1px 2px 0px rgba(246,15,62,1);
  }

  .navImg-scrolled {
    width: 250px;
    padding-top: 7px;
  }

  .navigation__link-scrolled {
    color: red;
  }